body {
    background-image: url("https://wallpapers.com/images/hd/dnd-two-headed-white-dragon-lv6d9gbsd5fdgrzs.jpg");
    background-size: cover;
    background-attachment: fixed;
    
}

h3 {
    color: gold;
}

div {
    padding: 20px;
}

li {
    color: white;
}

.button:hover{
    color: gold;
}

.button{
    color:white;
    padding: 5px 10px;
    border: solid 2px white;
    background-color: rgb(100, 0, 0);
}

.link {
    text-decoration: none;
}

.header-content{
    background-color: rgb(100, 0, 0);
    color: white;
    text-align: center;
    font-size: 1.5rem;
    margin-top: 20px;
    margin-bottom: 0;
    padding: 0;
}

.body-content{
    background-color: black;
    color: white;
    font-size: 1rem;
    padding: 15px 15px;
}






