{% extends 'base.html' %}
{% block content %}
<span>
    <a href="/new-character" class="link button">New Character</a>
    <a href="/characters" class="link button">Characters</a>
    <a href="/logout" class="link button">Log-Out</a>
    <b style="color:white; text-align:right;">{{ user.username }}</b>
</span>
<h1 class="header-content">Welcome!</h1>
<div class="body-content">
    <span>This web app can be used to generate a PDF of your D&D 5e character.
        The app uses the official API with a custom user interface to assist in creating your
        ideal character sheet in no time!
    </span>
</div>
{% endblock %}