{% extends 'base.html' %}
{% block content %}
<div>
    <h1 class="header-content">Race</h1>
    <div class="body-content">
        <select id="race"></select>
        <h3>Ability Bonuses</h3>
        <ul id="race-bonus"></ul>
        <h3>Age</h3>
        <h3>Alignment</h3>
        <h3>Languages</h3>
        <ul id="languages"></ul>
        <h3>Size</h3>
        <h3>Speed</h3>
        <h3>Proficiencies</h3>
        <ul id="race-proficiencies"></ul>
        <h3>Traits</h3>
        <ul id="traits"></ul>

    </div>
    <h1 class="header-content">Class</h1>
    <div class="body-content">
        <select id="class"></select>
        <h3>Hit Die</h3>
        <h3>Proficiencies</h3>
        <ul id="class-proficiencies"></ul>
        <h3>Saving Throws</h3>
        <ul id="saving-throws"></ul>
        <h3>Starting Equipment</h3>
        <ul id="equipment"></ul>
        <h3>Features</h3>
        <ul id="features"></ul>
        <h3>Spell Casting</h3>
        <h4>Cantrips</h4>
        <ul id="cantrips"></ul>
        <h4>Spells</h4>
        <ul id="spells"></ul>

    </div>

</div>
{% endblock %}