{% extends 'base.html' %}

{% block body_class %}onboarding{% endblock %}

{% block content %}
<span>
    <a href="/home" class="link button">Home</a>
    <a href="/login" class="link button">Log-In</a>
</span>

<div class="header-content">
    <h2>Join D&D Character Generator today!</h2>
</div>
<div class="body-content">
    <form method="POST" id="user_form">
        {{ form.hidden_tag() }}

        {% for field in form if field.widget.input_type != 'hidden' %}
        {% for error in field.errors %}
        <span class="text-danger">{{ error }}</span>
        {% endfor %}
        {{ field(placeholder=field.label.text, class="form-control") }}
        {% endfor %}

        <button class="btn btn-primary btn-lg btn-block">Sign me up!</button>
    </form>
</div>

{% endblock %}